<div id="formularioF" class="container">
    <div id="scroll" class="col-md-9 m-auto p-4">
        <table class="table table-dark table-striped">
            <thead class="table-danger">
                <h2 id="semiTransparente" class="text-center py-2" style="color: rgb(0, 0, 0);">{{club}}</h2>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Posicion</th>
            </thead>
            <tbody>
                {{#each equipo}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{posicion}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div style = "float: left" class="col-2  p-4">
        <a id="volver" href="/paginas/futbol" type="button" class="btn btn-danger">Volver</a>
    </div>
    
    {{#unless pertenezco}}
    <div class="container">
        <div id="semiTransparente" class="col-6 m-auto p-2 text-center">
            <h3 style="color: rgb(0, 0, 0);">¿Querés ser parte del Equipo?</h3>
            <form  action="/paginas/ingresarAlEquipo/{{numero}}&{{idDeportes}}" method="get">
                <div class="col-6 mx-auto py-4">
                    <select name="posicion" class="btn btn-ls btn-success" required>
                        <option type="text" value="">Elegir posición</option>
                        <option type="text" value="Arquero">Arquero</option>
                        <option type="text" value="Defensor">Defensor</option>
                        <option type="text" value="MedioCampo">Medio campo</option>
                        <option type="text" value="Delantero">Delantero</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-block">Unirme</button>
            </form>
        </div>
    </div>
    {{/unless}}
    
</div>