<div id="cancha">
    <div class="container-fluid pt-5">
        <div class="card text-center mb-1">
            <h2 class="mb-1 mx-auto">HISTORIAL RESERVAS</h2>
        </div>
        <div id="scrollMisCanchas" class="container">
            <table class="table table-hover bg-warning">
                <thead>
                    <tr>
                        <th>Total Reservas: <span style="color: BLUE;">{{cantidadReservas}}</span></th>
                        <th><i class="fas fa-thumbs-up"></i> Asistieron: <span style="color: green;">{{cantidadAsistieron}}</span></th>
                        <th><i class="fas fa-thumbs-down"></i> Faltaron: <span style="color: red;">{{cantidadFallaron}}</span></th>
                        <th><i class="fas fa-times-circle"></i> Cancelaron: <span style="color:orangered;">{{cantidadCancelaron}}</span></th>
                        <th><i class="fas fa-calendar-check"></i> Reservadas: <span style="color:rgb(15, 15, 15);">{{cantidadReservadas}}</span></th>
                    </tr>
                </thead>
            </table>
            <table id="myTable" class="table table-hover bg-warning">
                <thead>
                    <tr>
                        <th onclick="sortTable(0, 'int')">Nº de Cancha</th>
                        <th onclick="sortTable(1, 'str')">Fecha Reservada</th>
                        <th onclick="sortTable(2, 'int')">Hora Reservada</th>
                        <th onclick="sortTable(3, 'str')">Nombre y Apellido</th>
                        <th onclick="sortTable(4, 'str')">Fecha</th>
                        <th onclick="sortTable(5, 'str')">Estado</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each establecimiento}}
                    <tr>
                        <td>{{numeroCancha}}</td>
                        <td>{{fechaReserva}}</td>
                        <td>{{hora}}:00 Hs</td>
                        <td>{{nombre}} {{apellido}}</td>
                        <td>{{fechas fecha}}</td>
                        <td>{{estado}}</td>
                        {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-2  p-3">
            <a id="volver" href="/paginas/reservaEstablecimiento/{{idEstablecimiento}}" type="button" class="btn btn-primary">Volver</a>
        </div>
    </div>
</div>
