<div id="formularioF" class="container">
    <div class="col-md-9 m-auto p-4">
        <table class="table table-dark">
            <h3><p id="semiTransparente" class="text-center py-2" style="color: rgb(0, 0, 0);">JUGADORES</p></h3>
            <thead class="table-danger">
                <th>Nombre/Apellido</th>
                <th>Posición</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                
            </thead>
            <tbody>            
                {{#each jugador}}
                <tr>
                <td>{{nombre}}{{apellido}}</td>
                <td>{{posicion}}</td>
                <td>{{nombreUsuario}}</td>
                <td>{{email}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        
        <div class="col-2  p-4">
            <a id="volver" href="/paginas/futbol" type="button" class="btn btn-danger">Volver</a>
        </div>
    </div>
</div>