<div id="misCanchas">
    <div class="container-fluid">
        <div class="card text-center mb-4">
            <h2 class="mb-3 mx-auto">MIS CANCHAS</h2>
        </div>
        <div id="scrollMisCanchas" class="row">
            {{#each establecimiento}}
            <div class="col-md-4 mb-4">
                <div class="card bg-white">
                    <div class="card-header">
                        <b>Cancha Nº {{numeroCancha}} - {{deporte}}</b>
                    </div>
                    <div class="card-body">
                        <img src="/img/descarga/{{img}}" alt="" width="250" height="200">
                    </div>
                    <div class="card-footer">
<<<<<<< HEAD
                        <b>Horario -</b>
                        <b>De {{horaInicio}}hs</b>
                        <b>a {{horaFin}}hs</b>
=======
                        <b>Horarios </b>
                        <b>Desde</b> {{ horaInicio}} <b>Hs</b>
                        <b>Hasta</b> {{ horaFin}} <b>Hs</b>
>>>>>>> ale
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-2 p-4">
            <button onclick="location.href='/paginas/duenio'" class="btn btn-primary">Volver</button>
        </div>
        
    </div>
</div>