<div id="cancha">
    <div class="container-fluid">
        <div class="card text-center mb-4">
            <h2 class="mb-3 mx-auto">MIS CANCHAS</h2>
        </div>
        <div id="scrollMisCanchas" class="row">
            {{#each establecimiento}}
            <div class="col-lg-4 mb-4">
                <div class="card bg-white" style="opacity: 1;">
                    <div class="card-header">
                        <b>Cancha Nº {{numeroCancha}} - {{deporte}}</b>
                    </div>
                    <div class="card-body">
                        <img src="/img/descarga/{{img}}" alt="" width="250" height="200">
                    </div>
                    <div class="card-footer">
                        <a href="/paginas/diasCancha/{{idCancha}}" type="button" class="btn btn-outline-primary">Días y horario</a>
                        <a href="/paginas/crearObservacion/{{id}}" class="btn btn-primary">Día no laboral</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-2 p-4">
            <button onclick="location.href='/paginas/duenio'" class="btn btn-primary">Volver</button>
        </div>
        
    </div>
</div>