<div id="ticket" style="height: 50vw; width: 100vw">
<div class="container">
    <table class="table table-success table-striped ">
        <h3 class="text-white text-center">Mis Reservas</h3>
        <thead>
            <th>Fecha</th>
            <th>Establecimiento</th>
            <th>Cancha</th>
            <th>Deporte</th>
            <th>Fecha Reservada</th>
            <th>Hora</th>
        </thead>
        <tbody>
            {{#each reservas}}
            <tr>
                 <td>{{fechas fecha}}</td>
                <td>{{nombreEstablecimiento}}</td>
                <td>{{numeroCancha}}</td>
                <td>{{deporte}}</td>
                <td>{{fechaReserva}}</td>
                <td>{{ hora}}:00 Hs</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div style="float: left" class="col-2 p-5">
    <a id="volver" href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
</div>
</div>