<div id="ticket">
    <div class="container">
        <table class="table table-success table-striped ">
            <h3 class="text-white text-center">Mis Reservas</h3>
            <thead>
                <th>Fecha</th>
                <th>Establecimiento</th>
                <th>Cancha</th>
                <th>Deporte</th>
                <th>Fecha Reservada</th>
                <th>Hora</th>
                <th>Opcion</th>
            </thead>
            <tbody>
                {{#each reservas}}
                <tr>
                    <td>{{fechas fecha}}</td>
                    <td>{{nombreEstablecimiento}}</td>
                    <td>{{numeroCancha}}</td>
                    <td>{{deporte}}</td>
                    <td id="{{idReserva}}">{{fechaReserva}}</td>
                    <td><span id="{{id}}">{{ hora}}<span>:00 Hs</span> </td>
                    <td><button id="boton{{id}}" class="btn btn-warning">Cancelar Reserva</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
           <div class="row py-5">
        <div style="float: left" class="col-2 p-5">
            <a id="volver" href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
        </div>
    </div>
    </div>
 
</div>
<script>
     var tiempoActual= new Date().getHours();
    var dia= new Date().getDay();
    var horaReserva= document.getElementById('24').innerText
    var hora = horaReserva.split(/[/ :]/)[0]-15;
     var fecha= new Date(document.getElementById('10').innerHTML).getUTCDay();
    console.log(fecha);
    console.log(dia);
    console.log(hora);
    console.log(document.getElementById('24').innerText);

    if ((fecha === dia)&(tiempoActual == hora)) {
         document.getElementById('boton24').disabled= true 
    }


</script>