<div id="ticket">
    <div class="container p-5">
        <div class="container text-center bg-white">
            <h4 style="color: red;"><p>* Las reservas se podran cancelar 4hs antes de la fecha seleccionada</p></h4>
        </div>
        <table class="table table-success table-striped ">
            <h2 class="text-white text-center mb-3">Mis Reservas</h2>
            <thead>
                <th>Fecha</th>
                <th>Establecimiento</th>
                <th>Cancha</th>
                <th>Deporte</th>
                <th>Fecha Reservada</th>
                <th>Hora</th>
                <th>Opcion</th>
            </thead>
            <tbody id="tablaReserva">
                {{#each reservas}}
                <tr>
                    <td>{{fechas fecha}}</td>
                    <td>{{nombreEstablecimiento}}</td>
                    <td>{{numeroCancha}}</td>
                    <td>{{deporte}}</td>
                    <td>{{fechaReserva}}</td>
                    <td>{{ hora}}:00 Hs</td>
                    <td><form action="/paginas/reservaUsuarioCancelar/{{idReserva}}" method="get">
                    <button class="btn btn-warning">Cancelar Reserva</button>
                    </form></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
     
           <div class="row py-5">
        <div style="float: left" class="col-2 p-3">
            <a id="volver" href="javascript: history.go(-1)" type="button" class="btn btn-danger">Volver</a>
        </div>
    </div>
    </div> 
</div>
<script>     
    var tabla= document.getElementById('tablaReserva')
    let horaActual= new Date().getHours() + 4;
    let diaActual= new Date()
     const convertirFecha= (fecha)=>{
            let mes= fecha.getMonth()+1;
            if (mes < 10) {
             mes='0' + mes}
            let dia= fecha.getDate();
            if (dia < 10) {
             dia='0' + dia}
            convertirParaComparar= fecha.getFullYear() + "-"+ mes + "-"+ dia;
            return convertirParaComparar
     }
    function bloquear() {
        for (var i = 0; i < tabla.rows.length; i++) {
            celdaFechaReservada= tabla.rows[i].children[4].innerHTML
            celdaHoraReservada= tabla.rows[i].children[5].innerHTML.split(/[/ :]/)[0]
            if ((convertirFecha(diaActual) == celdaFechaReservada) & (horaActual >= celdaHoraReservada)){        tabla.rows[i].children[6].children[0][0].disabled= 'true'               
            }
            if (celdaFechaReservada < (convertirFecha(diaActual))) {
                 tabla.rows[i].children[6].children[0][0].disabled= 'true'
            }
            
        }
    }
    bloquear()

</script>
