<div id="cancha">
    <div class="container-fluid pt-5">
        <div class="card text-center mb-1">
            <h2 class="mb-1 mx-auto">RESERVAS</h2>
        </div>
        <div id="scrollMisCanchas" class="container">
            <table id="myTable" class="table table-hover bg-warning">
                <thead>
                    <tr>
                        <th onclick="sortTable(0, 'int')">Nº de Cancha</th>
                        <th onclick="sortTable(1, 'str')">Fecha Reservada</th>
                        <th onclick="sortTable(2, 'int')">Hora Reservada</th>
                        <th onclick="sortTable(3, 'str')">Nombre y Apellido</th>
                        <th onclick="sortTable(4, 'str')">Fecha</th>
                        <th onclick="sortTable(5, 'str')">Estado</th>
                        <th>Opcion</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each establecimiento}}
                    <tr>
                        <td>{{numeroCancha}}</td>
                        <td>{{fechaReserva}}</td>
                        <td>{{hora}}:00 Hs</td>
                        <td>{{nombre}} {{apellido}}</td>
                        <td>{{fechas fecha}}</td>
                        <td>{{estado}}</td>
                        <td><b><a class="link link-success" href="/paginas/asistio/{{idReserva}}&{{idEstablecimiento}}" >Asistió</a></b><br>
                            <b><a class="link link-danger" href="/paginas/fallo/{{idReserva}}&{{idEstablecimiento}}">Falló</a></b>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="p-3">
            <a id="volver" href="/paginas/duenio" type="button" class="btn btn-primary">Volver</a>
            <button class="btn btn-success" onclick="location.href='/paginas/historialReservas/{{idEstablecimiento}}'">Ver historial</button>
        </div>
    </div>
</div>
