<div>
    <div class="d-flex justify-content-around">
        <div class="container-fluid">
            <div id="tablaEquipo" class="col-md-12">
                <form class="d-flex">
                    {{!-- <img class="rounded mx-auto d-block" src="/img/pelotaB.png" alt="" width="50" height="50">
                    --}}
                    <h2 class=" me-4"><b>EQUIPOS</b></h2>
                    <div class="d-flex m-2">
                        <input class="form-control" type="search" placeholder="Buscar equipo" aria-label="Search">
                        <button class="btn btn-primary me-3" type="submit">Ir</button>
                        <input class="form-control" type="search" placeholder="Buscar jugador" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Ir</button>
                    </div>
                </form>
                <table class="table table-hover table-info">
                    <thead>
                        <tr>
                            <th>Nº de Equipo</th>
                            <th>Nombre</th>
                            <th>Nº de Jugadores</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Equipo1</td>
                            <td>7</td>
                            <!--<td>{{numero}}</td>
                                <td>{{nombre}}</td>
                                <td>{{cantidadJugadores}}</td>-->
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Equipo2</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Equipo3</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Equipo4</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Equipo5</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Equipo6</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Equipo7</td>
                            <td>8</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div id="tablaEquipo" class="col-md-12">
                <form class="d-flex">
                    <h2 class=" me-4"><b>CANCHAS</b></h2>

                </form>
                <table class="table table-hover table-success ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Contacto</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Pase a la Red</td>
                            <td>Moron 666</td>
                            <td>pasealared@ejemplo.com</td>
                            <!--<td>{{numero}}</td>
                                <td>{{nombre}}</td>
                                <td>{{cantidadJugadores}}</td>-->
                        </tr>
                        <tr>
                            <td>Pase a la Red</td>
                            <td>Moron 666</td>
                            <td>pasealared@ejemplo.com</td>
                        </tr>
                        <tr>
                            <td>Pase a la Red</td>
                            <td>Moron 666</td>
                            <td>pasealared@ejemplo.com</td>
                        </tr>
                        <tr>
                            <td>Pase a la Red</td>
                            <td>Moron 666</td>
                            <td>pasealared@ejemplo.com</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            <div id="tablaEquipo" class="col-md-12">
                <form class="d-flex">
                    <h2 class=" me-4"><b>USUARIOS</b></h2>

                </form>
                <table class="table table-hover table-success ">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Contacto</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>juan02</td>
                            <td>Juan</td>
                            <td>juanito@gmail.com</td>
                            <!--<td>{{numero}}</td>
                                <td>{{nombre}}</td>
                                <td>{{cantidadJugadores}}</td>-->
                        </tr>
                        <tr>
                            <td>escamoso</td>
                            <td>Pedro</td>
                            <td>pedrito@jemplo.com</td>
                        </tr>
                        <tr>
                            <td>charles</td>
                            <td>Carlos</td>
                            <td>charles@jemplo.com</td>
                        </tr>
                        <tr>
                            <td>tommy</td>
                            <td>Tomas</td>
                            <td>tommy@jemplo.com</td>
                        </tr>
                        <tr>
                            <td>marito</td>
                            <td>Mario</td>
                            <td>marito@jemplo.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form action="vistaAdmin" method="POST">
        <input name="fecha" type="date">
        <input name= "hora" type="datetime">
        <button type="submit">Aceptar</button>
    </form>

</div>