<script type="text/javascript">
    function mostrar(id, n) {
        var id
        if (id == 0) {
            id = 'tablaEquipo'
        }
        if (id == 1) {
            id = 'tablaUsuario'
        } if (id == 2) {
            id = 'tablaCanchas'
        }
        var estado
        if (n == 1) {
            estado = "block"
        } if (n == 0)
            estado = "none"
        document.getElementById(id).style.display = estado
    }

</script>

<div>
    <div class="btn-group mb-3">
        <button class="btn btn-outline-info" onclick="mostrar(2,1)" ondblclick="mostrar(2,0)">
            <h4><b>CANCHAS</b></h4>
        </button>
        <button class="btn btn-outline-info" onclick="mostrar(0,1)" ondblclick="mostrar(0,0)">
            <h4><b>EQUIPOS</b></h4>
        </button>
        <button class="btn btn-outline-info" onclick="mostrar(1,1)" ondblclick="mostrar(1,0)">
            <h4><b>USUARIOS</b></h4>
        </button>
    </div>
    <div class="justify-content-around">
        <div class="container-fluid" id="tablaEquipo" style="display: none;">          
            <table class="table table-hover bg-warning">
                  <h2 class="text-white" style="text-align: center;"><b>EQUIPOS</b></h2>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Equipo</th>
                        <th>Deporte</th>
                        <th>Usuario</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each equipos}}
                    <tr>
                        <td>{{idEquipo}}</td>
                        <td>{{nombreEquipo}}</td>
                        <td>{{idDeporte}}</td>
                        <td>{{idUsuarios}}</td>
                    {{/each}}
                </tbody>
            </table>

        </div>
        <div class="container-fluid" id="tablaCanchas" style="display: none;">
            <table class="table table-hover bg-warning">
                <h2 class="text-white" style="text-align: center;"><b>CANCHAS</b></h2>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th style="text-align: center;"><span style="color: red;">Nombre</span></th>
                        <th style="text-align: center;">Direccion</th>
                        <th style="text-align: center;">Contacto</th>
                        <th style="text-align: center;">Dueño</th>

                    </tr>
                </thead>

                <tbody>
                    {{#each establecimiento}}
                    <tr>
                        <td>{{idEstablecimiento}}</td>
                        <td>{{nombreEstablecimiento}}</td>
                        <td>{{direccion}}</td>
                        <td>{{cuit}}</td>
                        <td>{{idUsuarios}}</td>                
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        <div id="tablaUsuario" class="container-fluid" style="display: none;">
            <table class="table table-hover bg-warning">
                <h2 class="text-white" style="text-align: center;"><b>USUARIOS</b></h2>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usuarios}}
                    <tr>
                        <td>{{nombreUsuario}}</td>
                        <td>{{nombre}} {{apellido}}</td>
                        <td>{{email}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <form action="vistaAdmin" method="POST">
        <input name="fecha" type="date">
        <input name="hora" type="datetime">
        <button type="submit">Aceptar</button>
    </form>

</div>